body {
    background-color: orange;
    color: black; 
    font-family:comic;
    text-align: center;
    margin: 0;
    line-height: 1.2;
}

* {
    padding: 0;
    margin: 0;
}

#main {
   background-color: orange;
   border-radius: 5px;
} 

section {
    background-color: orange;
}

#title {
    text-align: center;
    font-size: 20px;
    background-color: orange;
    color:#9e9e7f;
}

#info {
    text-align: justify;
}

#image-div {
    display: block;
    padding: 5px;
    margin: 0;
}

#img-caption {
    font-size: 10px;   
}

/* height: auto, margin-left: auto etc helped with the center image and parent element problem */
#image {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
}
  
h2 {
    font-size: 2.5rem;
    text-align: center;
}

li {
    margin: 0;
}
ul {
    text-align: left;
    line-height: 1.2;
    max-width: 400px;
    margin: 0 auto 50px auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
  